@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap'); /*Lexend Deca*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap'); /*Big Shoulders Display*/

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white : hsla(0, 0%, 100%, 0.75); /* (paragraphs) */
  --Very-light-gray: hsl(0, 0%, 95%); /* (background, headings, buttons) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Very-light-gray);
}

.card {
  width: 900px;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  border-radius: 8px;
  overflow: hidden;
}

span {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot-1::after,
.dot-2::after,
.dot-3::after {
  width: 15px;
  height: 16px;
  margin-right: 5px;
  margin-top: -2px;
}

.dot-1::after {
  content: url(images/icon-sedans.svg);
}

.dot-2::after {
  content: url(images/icon-suvs.svg);
}

.dot-3::after {
  content: url(images/icon-luxury.svg);
}

.col {
  padding-top: 55px;
  padding-left: 45px;
  padding-right: 50px;
}

.col-1 {
  width: 33%;
  background-color: var(--Bright-orange);
}

.col-2 {
  width: 33%;
  background-color: var(--Dark-cyan);
}

.col-3 {
  width: 33%;
  background-color: var(--Very-dark-cyan);
}

h3 {
  color: var(--Very-light-gray);
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  padding: 20px 0 15px 0;
}

p {
  color: var(--Transparent-white);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  padding-bottom: 50px;
}

button {
  background-color: var(--Very-light-gray);
  padding: 10px 20px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}

.btn-1 {
  color: var(--Bright-orange);
}
.btn-2 {
  color: var(--Dark-cyan);
} 
.btn-3 {
  color: var(--Very-dark-cyan);
}

@media screen and (max-width: 475px) {
  .card {
    width: 100vh;
    height: 1100px;
    flex-direction: column;
  }
  .col {
    padding: 15px;
  }
  
  p {
    padding-bottom: 20px;
  }
}